
<div class="ui confirm modal">
    <div class="header">

    </div>
    <div class="content">
        <p></p>
    </div>
    <div class="actions">
        <div class="ui cancel tiny button">
            No
        </div>
        <div class="ui ok tiny success button">
            Yes
        </div>
    </div>
</div>

<container model="model" parent="parent" do-load="true"></container>









