
        <ul class="blue-grey darken-3">
            <li><a href="/Admin">Admin</a></li>
            <li><a href="/Project"><span class="fa fa-list-alt"></span> Projects</a></li>
            <li><a href="/Task"><span class="fa fa-tasks"></span> Tasks</a></li>
            <li><a href="/Data"><span class="fa fa-table"></span> Data</a></li>
            <li><a href="/IntelliFlow"><span class="fa fa-gears"></span> IntelliFlows</a></li>
            <li><a href="/Expression"><span class="fa"><b>&Sigma;</b></span> Expressions</a></li>
            <li><a href="/Report"><span class="fa fa-bar-chart"></span> Reports</a></li>
            <li><a href="/Form"><span class="fa fa-newspaper-o"></span> Forms</a></li>
            <li><a href="/Document"><span class="fa fa-file"></span> Documents</a></li>
            <li><a href="/Services/Console"><span class="fa fa-terminal"></span> Console</a></li>
        </ul>


