<div ng-if="container.IsVisible">
    
    <div class="ui top mini attached tabular menu blue-grey lighten-5" style="width: 1200px;">
        <a ng-repeat="(childIndex, child) in container.Children" class="contentTab" ng-class="parent.getTabClass(child, childIndex)" data-tab="{{child.Title}}">
            {{child.Title}}
        </a>
    </div>

    <div ng-repeat="(childIndex, child) in container.Children" style="width: 1200px;"
         ng-class="parent.getTabItemClass(child, childIndex)" data-tab="{{child.Title}}">

        <child model="child" parent="parent"></child>
    </div>

</div>
